<div class="container content">
    <div class="row">
        <div class="col-md-6">
                Hola
        </div>
        <div class="col-md-6">
            Mund0!
    </div>
    </div>

</div>